
:root{
  --lilac: #6b6882;
  --lily: #b4b0c6;
  --tale: #92abae;
  --twilight: #313745;

}

.App-header {
  height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Grid-width-wide{
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
  /*padding: 2rem 0;*/
}

h1{
  font-size: 2.5rem;
  cursor: pointer;
}
h1:hover span {
  transform: rotate(180deg);
}
h1 span{
  display: inline-block;
  font-size: 3.5rem;
  color:  var(--tale);
  transition: all 300ms;
}

.tiles{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  background-color: #191b21;
  margin: 4rem 0;
  border-radius: 6px;
}
@media screen and (max-width: 1440px) {
  .tiles {
    justify-content: center;
  }
}

.tile{
  width: 80px;
  height: 80px;
  background-color: var(--lilac);
  padding: 20px;
  display: grid;
  place-items: center;
}
.tile.red{
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: rgb(232, 75, 75);
}
.tile.green {
  clip-path: circle(50% at 50% 50%);
  background-color: green;
}
.tile.blue {
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  background-color: rgb(27, 27, 118);
}
.tile.orange {
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
  background-color: orange;
}
.tile.brown {
  clip-path: polygon(0 100%, 0% 0, 100% 100%);
  background-color: rgb(86, 47, 47);
}

@media screen and (max-width: 768px) {
  .tile{
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 599px) {
  .tile {
    width: 40px;
    height: 40px;
  }
}