
:root{
  --lilac: #6b6882;
  --lily: #b4b0c6;
  --tale: #92abae;
  --twilight: #313745;

}

.App-header {
  height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Grid-width-wide{
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
  display: grid;
  place-items: center;
  /*padding: 2rem 0;*/
}

h1{
  font-size: 2.5rem;
  cursor: pointer;
}
h1:hover span {
  transform: rotate(180deg);
}
h1 span{
  display: inline-block;
  font-size: 3.5rem;
  color:  var(--tale);
  transition: all 300ms;
}

button{
  margin-top: 2rem;
  padding: 16px 32px;
  border: none;
  background-color: #191b21;
  color: white;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
button:hover{
  filter: brightness(70%);
}

.tiles{
  background-color: #191b21;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width: 100%;
  max-width: 600px;
  padding: 8px;
  margin: 4rem 0;
  border-radius: 6px;
  gap: 5px;
}
@media screen and (max-width: 900px) {
  .tiles{
    transform: scale(0.6) translateY(-10rem);
    margin: 0;
  }
}
@media screen and (max-width: 599px) {
  .tiles {
    transform: scale(0.6) translateY(-6rem);
    padding: 16px;
    gap: 16px;
  }
}

@media screen and (min-width: 768px) {
  .tiles{
    width: 70%;
  }
}
@media screen and (min-width: 900px) {
  .tiles {
    width: 60%;
    transform: scale(0.6) translateY(-20rem);
  }
}
/*.tiles{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  background-color: #191b21;
  margin: 4rem 0;
  border-radius: 6px;
}
@media screen and (max-width: 1440px) {
  .tiles {
    justify-content: center;
  }
}*/
.tile-wrapper{
  overflow: hidden;
  background-color: #f2e9e0;
  border: 1px solid #191b21;
  border-radius: 4px;
  cursor: pointer;
}
.tile-wrapper:hover .tile{
  transform: scale(0.97);
}
.tile{
  width: 80px;
  height: 80px;
  background-color: var(--lilac);
  padding: 20px;
  display: grid;
  place-items: center;
  filter: url(#round);
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.tile:hover{
  filter: url(#round) brightness(70%);
}
.tile.col01{
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  background-color: #ebcba8;
  border: 4px solid white;
}
.tile.col02 {
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  background-color: #e1a0e6;
    border: 4px solid white;
}
.tile.col03 {
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  background-color: #C9A7EB;
    border: 4px solid white;
}
.tile.col04 {
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
  background-color: #9384D1;
  border: 4px solid white;
}
.tile.col05{
  clip-path: circle(50% at 50% 50%);
  background-color: #ae91cb;
  position: relative;
  margin: 4px;
}
.tile.col06{
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  background-color: #bfa487;
  border: 4px solid white;
}

.tile.col05::after{
  position: absolute;
  content: "";
  border: 4px solid #fff;
  height: 110px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 110px;
}
@media screen and (max-width: 768px) {
  .tile.col05::after {
    width: 90px;
    height: 90px;
  }
}
@media screen and (max-width: 599px) {
  .tile.col05::after {
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 768px) {
  .tile{
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 599px) {
  .tile {
    width: 40px;
    height: 40px;
  }
}