
body {
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #313745;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-moz-selection {
  background: #92abae;
  color: #fff;
}

::selection {
  background: #92abae;
  color: #fff;
}